<div class="col-xs-12 div-img-50 div-hori", id="pp0" >
  <%= image_tag "home01h.jpg", class: "img-responsive img-ppal"%>

</div>

<div class="col-xs-12 home-texto div-img-50 hidden-xs div-hori" >
  <h4>
    "Dadle a un hombre todas las virtudes del espíritu, las del carácter, haced que lo haya visto, aprendido y retenido todo, que tenga la experiencia de un viejo, el ardor de un joven, la memoria infalible de un niño... <br/>y a lo mejor con esto podréis crear un abogado completo"
  </h4>
</div>

<div class="col-xs-12 home-texto2 div-img-50 visible-xs div-hori">
  <h4>
    "Dadle a un hombre todas las virtudes del espíritu, las del carácter, haced que lo haya visto, aprendido y retenido todo, que tenga la experiencia de un viejo, el ardor de un joven, la memoria infalible de un niño... <br/>y a lo mejor con esto podréis crear un abogado completo"
  </h4>
</div>

<div class="col-xs-12 div-img-50 div-vert", id="pp0" >
  <%= image_tag "home01v.jpg", class: "img-responsive img-ppal"%>
</div>

<div class="col-xs-12 home-texto div-img-50 hidden-xs div-vert">
  <h4>
    "Dadle a un hombre todas las virtudes del espíritu, las del carácter, haced que lo haya visto, aprendido y retenido todo, que tenga la experiencia de un viejo, el ardor de un joven, la memoria infalible de un niño... <br/>y a lo mejor con esto podréis crear un abogado completo"
  </h4>
</div>

<div class="col-xs-12 home-texto2 div-img-50 visible-xs div-vert">
  <h4>
    "Dadle a un hombre todas las virtudes del espíritu, las del carácter, haced que lo haya visto, aprendido y retenido todo, que tenga la experiencia de un viejo, el ardor de un joven, la memoria infalible de un niño... <br/>y a lo mejor con esto podréis crear un abogado completo"
  </h4>
</div>

