<div class="container-fluid div-ppal">
	<div class="col-xs-12 div-img-100 div-hori", id="pp0" >
	  <%= image_tag "home-1920x1080.jpg", class: "img-responsive img-ppal"%>
	</div>

	<div class="col-xs-12 div-img-100 div-vert", id="pp0" >
	  <%= image_tag "homev-1920x1080.jpg", class: "img-responsive img-ppal"%>
	</div>

	<div class="texto-ppal2 hidden-xs">
	  <h1>Solvencia y Seriedad a su Servicio<span></span></h1><br/><br/>
	</div>

	<div class="texto-ppal4b visible-xs">
	  <h1>Solvencia y Seriedad<br/>a su Servicio<span></span></h1><br/><br/>
	</div>
</div>


<!--
	<%= link_to  'Ver mas...', "#pp", :class=>"btn-idx btn-font mov-suave btn-lg" %>
-->