<section id="about">
    <div class="container-fluid sin-padd">
	    <div class="col-xs-12 div-img-40 div-hori" >
	      <%= image_tag "home01-tit-qh.jpg", class: "img-responsive img-ppal"%>
	    </div>

	    <div class="col-xs-12 div-img-25 div-vert sin-padd-r margen-menu" >
	      <%= image_tag "home01-tit-qv.jpg", class: "img-responsive img-ppal"%>
	    </div>

        <div class="col-xs-12 row margen-menu con-marg-left">
	        <div id="tit00" class="bs-callout bs-callout-info col-md-offset-1 col-md-11 col-xs-12 ventas1 sin-marg-top" >
	        	<h4>Nuestra Historia</h4>
	        	<p>El Bufete fue creado en 1995, como una firma multidisciplinaria que presta servicios jurídicos principalmente en las áreas del Derecho Civil, Mercantil, Administrativo y Procesal, incluyendo Arbitrajes. Siendo la orientación del despacho fundamentalmente civilista y mercantilista, con el tiempo, y con las nuevas incorporaciones, se ha especializado en múltiples ramas, en función de las necesidades de su clientela.</p>
	        	<p>Nos distinguimos por ofrecer al cliente servicios de asesoramiento legal bajo las premisas de excelencia en el servicio, atención inmediata y personalizada, y alto compromiso con los clientes, desarrollando la práctica legal con absoluto respeto a las reglas éticas y deontológicas como profesionales y de honestidad e integridad como personas.</p>
	        	<p>El despacho se rige por el principio de voluntad de trabajo, vocación por el derecho e íntegro sentido de la profesión de abogado. Los principios propios del ejercicio de la abogacía y el servicio personalizado a los clientes, junto con el estudio y la formación contínua, orientan la labor de cada día.</p>
	        </div>
	    </div>
        <div class="col-xs-12 row con-marg-left">
	        <div id="tit00" class="bs-callout bs-callout-info col-md-offset-1 col-md-5 col-xs-12 ventas1 sin-marg-top" >
	        	<h4>La Misión</h4>
	        	<p>Somos un grupo de profesionales, con especialización en las áreas de Tecnología, Ingeniería, Ventas y Marketing. Con Experiencia y conocimiento en Empresas Nacionales e Internacionales, de primer nivel.</p>
	        </div>
	        <div id="tit01" class="bs-callout bs-callout-info col-md-offset-1 col-md-5 col-xs-12 ventas1 sin-marg-top" >
	        	<h4>¿Por Qué Elegirnos?</h4>
	        	<p>Porque somos una empresa experimentada, ágil y práctica. Con Soluciones Rápidas, de alta Calidad y a un costo Accesible.</p>
	        </div>
	    </div>
        <div class="col-xs-12 row con-marg-left">
	        <div id="tit00" class="bs-callout bs-callout-info col-md-offset-1 col-md-5 col-xs-12 ventas1" >
	        	<h4>Soluciones de Alta Calidad ¿a Precios Accesibles?</h4>
	        	<p>Porque nos basamos en el principio de las “Soluciones Standard”, que expresa que más del 70% de los problemas de una empresa, son similares al resto de las Compañías.  
				<p/>
	        </div>
	        <div id="tit00" class="bs-callout bs-callout-info col-md-offset-1 col-md-5 col-xs-12 ventas1" >
	        	<h4>¿Qué es "Alta Calidad"?</h4>
	        	<p>Alta calidad significa que cada producto o servicio se basa en la Tecnología más avanzada y en las últimas y más probadas técnicas de marketing (en el caso de ventas) y de ingeniería (en el caso de costos).</p>
	        </div>
	        <div class="bs-callout">
		        <p></p>
	        </div>
	        <div class="bs-callout">
		        <p><br/><br/><br/><br/></p>
	        </div>
        </div>

    </div>
</section>

